<div class="carousel-content d-none d-md-block" style=" position: absolute;
                                                        top: 20%;
                                                        left: 20%;
                                                        width: 60%;
                                                        height: 648px;
                                                        padding: 40px;
                                                        z-index: 20;
                                                        color: black;
                                                        text-shadow: 0 1px 2px rgba(255,255,255,.6);
                                                        background-color: rgba(214, 219, 223, .7); 
                                                        border-radius: 10px;
                                                        ">
    <p><strong>{{example.text}}</strong></p>
    <p> {{example.description}}</p>
    {{#if example.lengthOfTrail}}
    <img src={{example.imagelink}}>
    <p><strong>Length:</strong> {{example.lengthOfTrail}}</p>
    <p><strong>Difficulty:</strong> {{example.difficulty}}</p>
    <p><strong>Summary:</strong> {{example.summary}}</p>
    <p><strong>Ascent:</strong> {{example.ascent}}</p>
    <p><strong>Descent:</strong> {{example.descent}}</p>
    <p><strong>Rating: </strong><strong style="color:green;">{{example.rating}} </strong>/ 5 stars</p>
    {{/if}}

    <a href="/profile">← Back To Home</a>
</div>