{{!-- Bucket List Section: --}}
<div class="row">

  <div class="col-md-3">
    <div id="parallaxTest">
      <div class="mySlides">
        <div class="container">

        </div>
      </div>
    </div>
    <div class="search" data-id={{user.id}}>
      <form class="formSearch">
        <div class="form-row align-items-center">
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control mt-4" id="inlineFormInput" placeholder="Location">
              <div class="invalid-feedback">
                Please enter a location.
              </div>
            </div>
            <div class="col-md-4">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Miles</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary mt-4" id="searchButton">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="hikingDiv">

    </div>

    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <i class="fas fa-hiking" style="color: #0052D4;"></i>
            <h5 class="myModalLabel" id="exampleModalCenterTitle">Trail Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btnclose btn-outline-light" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-0">
    {{!-- <h4>{{user.email}}'s</h4>
    <h4 class="text-center">Profile Page</h4><br> --}}
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <label for="example-text">Bucket List Item</label>
        <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter List Item">
      </div>
      <div class="form-group">
        <label for="example-description">Item Description</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Item Description"></textarea>
      </div>
      <button id="submit" class="btn btn-primary float-right">Buck-it</button>
    </form>
    <h3>Bucket List:</h3>
    <div id="bucketDiv">
      <ul id="example-list" class="list-group">
        {{#each user.Examples}}
        {{!-- {{#if this.complete}} --}}
        <li data-id="{{this.id}}" data-complete={{this.complete}} class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          {{!-- {{/if}} --}}
          <button class="btn btn-danger float-right delete">ｘ</button>
          <button class="btn btn-success float-right complete">&#10003</button>
        </li>
        {{/each}}
      </ul>
      {{!-- <ul id="example-list" class="list-group">
        {{#each user.Examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul> --}}
    </div>
  </div>

  <div class="col-md-3">
    <div id="weatherDiv"></div>
  </div>
</div>